body {
  background-color:#FFFFFF;
  color:#333333;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:bold;
}

p {
  font-size:13px;
  font-weight:normal;
}

td {
  font-size:13px;
  font-weight:normal;
}

a { text-decoration:none; }
a:link { color:#a02529; }
a:visited { color:#a02529; }
a:hover { color:#a02529; text-decoration:underline; }
a:active { color:blue; }
img { border:0; }

h1,h2,h3 {margin: 10px 0 5px 0;}

p {
  margin-bottom: 20px;
}

h1.headline,h2.headline {
  font-size: 36px;
  margin-bottom: 20px;
  color:#a02529;
  text-shadow: 3px 3px 1px #ddd;
}
h2.headline {
  color:#333;
  text-shadow: none;
}

#pageContainer {
  background:#fff url(../images/logo-overwrite.png) no-repeat left top;
  margin-left:auto;
  margin-right:auto;
  padding-top:191px;
  position:relative;
  width:840px;
}

#description {
  position:absolute;
  right:0;
  text-align:right;
  top:40px;
  width:400px;
}

#nav {
  margin-bottom:20px;
}

#nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:center;
}

#nav ul li {
  display:inline-block;
  margin:0;
  padding:0;
}

#nav ul li a {
  background-color:#8fb220;
  color:#000;
  display:inline-block;
  padding:10px 28px;
  text-decoration:none;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

#main-content {
  margin:0 auto;
  width:860px;
}

#map_canvas {
  height:400px;
	width: 650px;
	float: left;
  -moz-box-shadow:#333 0 3px 6px;
  -webkit-box-shadow:#333 0 3px 6px;
}

#footer {
  clear: both;
  font-weight: normal;
  padding:40px 0 0 0;
}

#footer hr {
  border-top: 2px #333 solid;
}

#footer p {
  padding:5px 0 15px 0;
  width:840px;
  text-align:center;
  margin:10px auto 0 auto;
}

#upcoming_meetups h2 {
  margin-top:10px;
}

#upcoming_meetups p {
  text-indent:0;
  padding:5px 0 0 5px;
  margin:0 0 5px 0;
}

#bmoreonrails_tweets ul.tweet_list li {
  list-style-type:none;
  padding-top:15px;
  font-size:13px;
  font-weight: normal;
}

ul.locations {
  list-style-type:none;
	padding: 10px;
	margin-top: 0px;
	margin-right: 10px;
}

ul.locations li {
	border-top: 1px solid grey;
	padding: 5px 10px;
}

ul.locations li:first-child {
	border-top: none;
	padding-top: 0px;
}

.icon {
  background-position:left center;
  background-repeat:no-repeat;
  display:inline-block;
  line-height:16px;
  padding-left:20px;
}

.icon.github {
  background-image:url(../images/github.png);
}

.icon.twitter {
  background-image:url(../images/twitter.png);
}

.quiet {
  font-size:0.8em;
  margin-top:1em;
}

.subscript {
	font-size: xx-small;
}