!content_divider_color = #D0E89F
!vertical_list_divider = 3px solid !content_divider_color

!main_background_color = #F3EBE0
!nav_background_color = -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ccc), color-stop(0.5, #9f9f9f), color-stop(0.5, #999), color-stop(1.0, #777))
!content_background_color = #EDF8C7

!border_radius = 10px
!border = 10px solid white

body
  background-color = !main_background_color
  font: 8px 'Helvetica Neue', Helvetica, Arial, sans-serif, Tahoma, arial, sans-serif
  color: #115280

#wrapper
  margin-top: 20px
  min-height: 800px
  height: 100%

#main-content, #nav
  / border-left = !border
  / border-right = !border

#main-content
  padding-top: 20px
  padding-bottom: 20px
  / background-color = !content_background_color
  / border-bottom: 10px solid white
  -moz-border-radius-bottomleft = !border_radius
  -webkit-border-bottom-left-radius = !border_radius
  -moz-border-radius-bottomright = !border_radius
  -webkit-border-bottom-right-radius = !border_radius

#logo
  background: url(/images/logo.png)
  display: block
  float: left
  height: 103px
  width: 416px

#nav
  float: right
  background = !nav_background_color
  -moz-border-radius-topleft = !border_radius
  -webkit-border-top-left-radius = !border_radius
  -moz-border-radius-topright = !border_radius
  -webkit-border-top-right-radius = !border_radius  
    
  ul
    margin: 0
    padding:0 
    
    li
      display: block
      float: left
      margin: 0 7px
      
      a
        font-size: 12px
        font-variant: small-caps
        text-align: center
        text-decoration: none
        text-transform: lowercase
        color: #FFFFFF    
    
      a.selected
        color: #93DAFF

#ale_house_listing
  padding: 20px 15px
    
  li
    width: 840px
    font-size: 20px
    padding: 10px 5px
    border-bottom = !vertical_list_divider
  
  li:first-child
    border-top = !vertical_list_divider
    
ul
  list-style: none