= content_for :nav do
  %ul
    - @neighborhoods.each do |n|
      %li= link_to n.name, "##{n.id}", :id => listing_neighborhood_ale_houses_path(n)

#map_canvas

#ale_house_listing

%div{:style => "clear: both;"}
#description_container{:style => 'margin-top: 10px;'}
  %p
